<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>MVC</h1>
    <form action="/addRecord" method="post" enctype="multipart/form-data">
        <input type="text" name="title"><br/>
        <input type="file" name="image_field"><br/>
        <input type="submit">
    </form>
    <table>
        <thead>
            <tr>
                <td>Sr. No.</td>
                <td>Name</td>
                <td>Image</td>
                <td>Operation</td>
            </tr>
        </thead>
        <tbody>
            <%data.map((e,i)=>{%>
            <tr>
                <td><%=i+1%></td>
                <td><%=e.title%></td>
                <td><img width="100px" src="<%=e.image_path%>" alt="<%=e.title%>"></td>
                <td><a href="/editRecord?id=<%=e.id%>"><button>Edit</button></a></td>
                <td><a href="/deleteRecord?id=<%=e.id%>"><button>Delete</button></a></td>
            </tr>
            <%})%>
        </tbody>
    </table>
</body>
</html>